.list-wrapper{
  margin: 50px auto;
  margin-bottom: 20px;
  width: fit-content;
}

.arrow_wrapper{
  width: 50px;
  height: 50px;
  background-color: rgb(23, 109, 200);
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 70px;
  right: 55px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow_wrapper:hover{
  background-color: rgb(0, 92, 191);
}

.arrow_wrapper svg{
  fill: #fff;
}

.centered_btn{
  margin: auto;
}

.pagination_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}

.from_to{
  color: rgb(0, 92, 191);
  font-size: 1.2em;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page{
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 1px solid rgb(0, 92, 191);
  color: rgb(0, 92, 191);
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.page:hover,
.page.active{
  color: #fff;
  background-color: rgb(0, 92, 191);
}